<section class="sec_include">
  <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
    <h3>Title - <%=session.title%></h3>
    <h3>Speaker(s) - <%=session.speaker.name%></h3>
    <h3>Speaker Bio - <%=session.speaker.bio%></h3>
    <h4>Description:</h4>
    <p><%=session.description%></p>
  </div>
</section>
