<section
  class="container"
  style="max-width: 960px; margin-left: 500px; margin-top: 200px"
>
  <h2 style="margin-bottom: 30px; margin-left: 75px">Log In</h2>
  <form name="signin" action="/auth/signIn" method="post">
    Username:
    <input
      name="username"
      id="username"
      style="color: black; margin: 5px"
    /><br />
    Password:
    <input
      type="password"
      name="password"
      id="password"
      style="color: black; margin-top: 10px"
    /><br />

    <input
      type="submit"
      value="Log In"
      class="btn btn-primary btn-lg"
      style="margin-top: 30px; margin-left: 75px"
    />
  </form>
</section>
